


canvas{
    background-image: url("../map/bg.png");
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
}

.header_bg{
    background-image: url("../images/bg_header.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-size: cover;
    width: 100%;
}



.schedules_bg{
    background-image: url("../images/bg_schedules.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-size: cover;
    width: 100%;
}



.about_bg{
    background-image: url("../images/bg_about.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-size: cover;
    width: 100%;
}



.data_container{
    margin: 1em;
    color: antiquewhite;
}

.separter{
    margin-left: 1em;
    margin-right: 1em;
}
.tiny_separter{
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.form-control{
    padding: 0.5em;
    margin-top: 0.5em;
    display: block;
    width: 20em;
}

.button{
    width: 10em;
    padding: 0.2em;
    margin-top: 0.5em;
}
a,p,div,span {
    font-family: "Almarai", sans-serif;
}

.almarai-light {
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .almarai-regular {
    font-family: "Almarai", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .almarai-bold {
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .almarai-extrabold {
    font-family: "Almarai", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  